{%extends 'general.html.twig'%}
{%block title%}À propos de ce ticket{%endblock%}
{%block body%}
<center>
{%for message in app.flashes('Error_Tag')%}
<div class="alert alert-danger" role="alert">
{{message}}
</div>
{%endfor%}
</center>
{{form_start(form)}}
<div class="form-group col-md-3">
{{form_widget(form.Name, {'attr':{'class':'form-control', 'value':'', 'placeholder':'Enter Tag:'}})}}
<input type="submit" style="display:none">
{{form_end(form)}}
</div>
<center>
<h3>Description de ce ticket</h3>
</center>
<ul>
<li>ID: {{ticket.id}}</li>
<li>Nom: {{ticket.name}}</li>
<li>Description: {{ticket.description}}</li>
<li>Project ID: {{ticket.projectid}}</li>
<li>Assignee ID: {{ticket.assigneeid}}</li>
<li>Statut: {{ticket.status}}</li>
<li><a href="{{asset('files/'~ticket.File)}}" download>Télécharger le file</a></li>
</ul>
<a href="/projects/montrer/{{ticket.projectid}}">Revenir en arrière</a>
{%if is_granted('EDIT', ticket)%}
<a href="/projects/tickets/del/{{ticket.id}}">Supprumer ce ticket</a>
<a href="/projects/tickets/{{ticket.id}}/edit">Modifier ce ticket</a>
{%endif%}
<br>
<h3>Tags:</h3>
{%for key in tags%}
<a href="/tags/{{key.0.id}}">#{{key.0.Name}}</a>
{%endfor%}
{%endblock%}
